<section class="c-description">
    <h1 class="c-description__description-title">Contact</h1>
    <p class="c-description__description-subtitle">Quisque lorem tortor fringilla sed, vestibulum id,eleifend justo</p>
    <p class="c-description__value">€ 99,95</p>
    <div class="c-description__size-container">
        <ul class="c-description__descrip-list">
            <li class="c-description__description-item-title">Size</li>
            <li class="c-description__description-item"><a href="#" class="c-description__cta-size">38</a></li>
            <li class="c-description__description-item"><a href="#" class="c-description__cta-size">39</a></li>
            <li class="c-description__description-item"><a href="#" class="c-description__cta-size">40</a></li>
            <li class="c-description__description-item"><a href="#" class="c-description__cta-size">41</a></li>
            <li class="c-description__description-item"><a href="#" class="c-description__cta-size">42</a></li>
        </ul>
    </div>
    <div class="c-description__price-container">
        <a href="#" class="c-description__price-submit">Add to Basket</a>
    </div>
    
</section>