.c-mmenu {
    color: $text-color;
    font-family: $primary-font;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.7);
    line-height: 50px;
    font-size: 0;
    background:white;
    display: flex;
    align-items: center;
    @include mq (0,668px) {
        align-items: center;
        
    }
    // icon SP de Saltiest Pop
    &__iconlogo {
        width:50px;
        height: auto;
        background: $anim-color;
        border: 0.5px solid black;
        text-align: center;
        margin-right: 15px;
        display: inline-block;
        vertical-align:middle;
        font-size: 18px;
        @include mq (0,668px) {
            width: 100%;
            flex-basis: 70%;
        }
        @include mq (668px,1024px) {
            width: 100%;
            flex-basis: 70%;
        }
    }
    // anchor com link para index
    &__homereturn{
        text-decoration: none;
        color: black
    }

    &__burguer-container {
        display: flex;
        align-items: center;
        background:white;
        z-index: 9;
        padding: 10px;
        @include mq(0, 668px) {
            width: 100%;
        }
        @include mq(668px, 1024px) {
            width: 100%;
        }
    }

    
// Menu navegação 
    &__navigation {
        
        display: flex;
        vertical-align:middle;
        width:100%;
        padding: 15px;
        @include mq (0,668px) {
            transition:all 0.4s ease-in-out;
            position:absolute;
            left: 0;
            top:-100%;
            width:100%;
            text-align:center;
            display: block;
            background: white;
            z-index: 8;
            height: 100vh;
            &.is-open{
                top: 75px;
            }
        }
        @include mq (668px,1024px) {
            transition:all 0.4s ease-in-out;
            position:absolute;
            left: 0;
            top:-100%;
            width:100%;
            text-align:center;
            display: block;
            background: white;
            z-index: 8;
            height: 100vh;
            &.is-open{
                top: 75px;
            }
        }

        
        
        
        
    }

    
   
    &__list {
        text-align: left;
        @include mq (0,668px) {
            display:block;
        }
    }

    &__listrgt {
        margin-left: auto;
        @include mq (0,668px) {
            display:block;
        }
    }
        

    &__item {
        display: inline-block;
        margin-right: 30px; 
        font-size: 16px;
        @include mq (0 , 668px) {
            display: block;
            text-align: center;
            border-bottom: 0.5px solid black;
        }
    }

    &__iconcontainer {
        display: inline-block;
        margin: 0 auto;
        padding-right: 5px;
        vertical-align:middle;
    }

    &__iconitem {
        width: 60%;
        
    }
    

    &__cta {
        text-decoration: none;
        color: black;
        
    }

    &__mobile-burguer {
        display: none;
        @include mq (320px,1024px){
        cursor: pointer;
        display:block;
        flex-basis: 30%;
        width: 100%;
        
        }

    }
// barra com after e before para gerar hamburguer
    &__espan {
        display: none;
        @include mq (320px,1024px) {
        display: flex;
        background: black;
        height: 5px;
        width: 40px;
        margin: 0 auto;
        position: relative;
        border-radius: 15px;
        &::after,
        &::before {
            content: '';
            display: block;
            background: black;
            height: 5px;
            width: 40px;
            position: absolute;
            border-radius: 15px;
        }
        &::after {
            top: 10px;
        }
        &::before {
            top: -10px;
        }
     }
    }

    

    
        
    
    

    

}