<header class="c-mmenu">
    <div class="c-mmenu__burguer-container">	
            <div class="c-mmenu__iconlogo"><a class="c-mmenu__homereturn" href="index.html">SP</div>
            <div type="button" class="c-mmenu__mobile-burguer">
                <span class="c-mmenu__espan"></span>
            </div>
    </div>	
    <nav class="c-mmenu__navigation clearfix">
        <ul class="c-mmenu__list">
        <li class="c-mmenu__item"><a href= "#" class="c-mmenu__cta">Women</a></li>
        <li class="c-mmenu__item"><a href= "#" class="c-mmenu__cta">Men</a></li>
        <li class="c-mmenu__item"><a href= "#" class="c-mmenu__cta">Kids</a></li>
        <li class="c-mmenu__item"><a href= "contact.html" class="c-mmenu__cta">Contact us</a></li>
        <li class="c-mmenu__item"><a href= "about.html" class="c-mmenu__cta">About us</a></li>
    </ul>	
    <ul class="c-mmenu__listrgt">
        <li class="c-mmenu__item"><span class="c-mmenu__iconcontainer"><img src="icons\user.svg" class="c-mmenu__iconitem" alt="userimg"></span><a href= "#" class="c-mmenu__cta">Log In</a></li>
        <li class="c-mmenu__item"><span class="c-mmenu__iconcontainer"><img src="icons\credit-card.svg" class="c-mmenu__iconitem" alt="crtimg"></span><a href= "shopping.html" class="c-mmenu__cta">Basket</a></li>
    </ul>
    </nav>
</header>