.clearfix::after,
.clearfix::before{

    content:"";
        clear: both;
        display: table;

}

//Fonts
$primary-font: 'Niramit';
$secondary-font: 'Montserrat';
// Styles
$primary-color:#f5f5f0;
$text-color: black;
$btn-color: white;
$default-color: black;
$subtitle-color:grey;
$anim-color: rgb(246, 195, 204);


@keyframes opening {
    0%{
      opacity: 0;
    }
    
    25%{
        opacity: 0.3;
    }
    50%{
        opacity: 0.6;
    }
    75%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }


  }

  @keyframes imgtag {
    0%{
      opacity: 0;
    }
    
    100%{
        opacity: 0.3;
   

  }

}