<section class="c-card">
    <!--Coluna 1 Squarebig & small-->
<div class="c-card__coll">
<div class="c-card__square">
<article class="c-card__squaretext">
    <img class="c-card__img-clothes" src="images/indeximg.jpg"alt="imgcloth" >
</article>
</div>
<div class="c-card__square big">
<article class="c-card__squaretext">
    <h1 class="c-card__pdtinfo">Spring Collection</h1>
    <p class="c-card__text">Check out, our new shirts and acessories for this spring!!</p>
</article>
</div>
</div>
<!--Coluna 2-->
<div class="c-card__coll">
<div class="c-card__square big">
<article class="c-card__squaretext">
    <h1 class="c-card__pdtinfo">Wanna be a Model?</h1>
    <p class="c-card__text">Click on the camera below, to take a photo of yourself, and post it here!!</p>
</article>
</div>
<div class="c-card__square c-card__square--light-medium">
<article class="c-card__squaretext">
    <img class="c-card__img-clothes" src="images/galimgback.jpg"alt="imgcloth" >
</article>
</div>
</div>
<!--Coluna 3-->
<div class="c-card__coll">
<div class="c-card__square">
<article class="c-card__squaretext">
    <img class="c-card__img-clothes" src="images/indeximg3.jpg"alt="imgcloth" >
</article>
</div>
<div class="c-card__square big">
<article class="c-card__squaretext">
    <img class="c-card__img-iconcard" src="icons/camera.svg"alt="imgcloth" >
    <p class="c-card__text">New Arrival</p>
</article>
</div>
</div>
<!--Coluna 4 Big & small-->
<div class="c-card__coll">
<div class="c-card__square big">
<article class="c-card__squaretext">
    <img class="c-card__img-clothes higher" src="images/index6.jpg"alt="imgcloth" >
</article>						   
</div>
<div class="c-card__square">
<article class="c-card__squaretext">
    <img class="c-card__img-clothes" src="images/pro_1805.jpg"alt="imgcloth" >
</article>
</div>
</div>
</section>