<section class="c-gallery">
    <div class="c-gallery__wrapper">
        <img src="images/gallerybackimg2.jpg" class="c-gallery__gal-background" alt="eyey">
      <ul class="c-gallery__gal-list">
        <li class="c-gallery__gal-item">
            <img class="c-gallery__gal-img" src="images/galimg1.jpg"  alt="galleryimg">
        </li>
        <li class="c-gallery__gal-item">
            <img class="c-gallery__gal-img" src="images/galimg2.jpg"  alt="galleryimg">
        </li>
        <li class="c-gallery__gal-item">
            <img class="c-gallery__gal-img" src="images/galimg3.jpg"  alt="galleryimg">
        </li>
        <li class="c-gallery__gal-item">
            <img class="c-gallery__gal-img" src="images/galimg4.jpg"  alt="galleryimg">
        </li>
        <li class="c-gallery__gal-item">
            <img class="c-gallery__gal-img" src="images/galimg5.jpg"  alt="galleryimg">
        </li>
      </ul>
    </div>
</section>