<section class="c-form  clearfix">
    <form action="submit" class="c-form__fmain">
      <div class=" c-form__selwrapper"> 
				<label for="topic" class="c-form__lbtext">Topic</label>
        <select id="topic" name="topic" class="c-form__topics" required>
            <option value="1">Lorem</option>
            <option value="2">Ipsum</option>
            <option value="3">Fricks</option>
        </select>
			</div> 
			<div class="c-form__inputcontainer clearfix">
				<div class=" c-form__inpwrapper ">   
					<label for="username" class="c-form__lbtext">Name</label>
					<input id="username" type="text" name="username" class="c-form__entervalue" required>
				</div>
				<div class=" c-form__inpwrapper ">
					<label for="email" class="c-form__lbtext">E-mail</label>
					<input id="email" type="email" name="email" class="c-form__entervalue" required>
				</div>
			</div>
			<div class=" c-form__textwrapper clearfix">
				<label for="textarea" class="c-form__lbtext">Message</label>
        <textarea id="textarea" name="textarea" cols="75" rows="15" class="c-form__enterarea"></textarea>
      </div>

      <a href="#" type="submit" class="c-form__fsubmit">Send</a>

    </form>
</section>  