.c-about {
    width: 100%;
    margin:50px 0;

    &__wrapper {
        max-width:1100px;
        margin:0 auto;
        font-size:0;
        position: relative;
        @include mq (0 ,768px) {
            max-width: 90%;
            
        }

    }

    &__artig {
        font-size:12px;
        display: inline-block;
        width:calc(50% - 10px);
        &:nth-of-type(1) {
        margin-right:20px;
        }
      @include mq (0, 668px) {
        width: 100%;
        display: block;
        margin: 0 auto;
        }
      @include mq (668px, 1086px) {
        width: 90%;
        display: block;
        margin: 0 auto;
        
        }
    }

    &__artimg {
        height: 774px;
        width: 540px;
        @include mq (320px ,1086px) {
            max-width: 100%;
            width: 90%;
            height: 60%;
            display: block;
            margin: 0 auto;
        }
        
    }

    &__arttitle {
        display:block;
        margin:20px 0;
        font-size:30px;
        color:#000;
        text-transform:uppercase;
        font-family: $primary-font;
        @include mq (0 ,768px) {
            text-align: center;
        }
    }

    &__arttext {
        display:block;
        color:#000;
        margin-bottom: 20px;
        font-size: calc(16px + 0.25vw);
        line-height: 1.2;
        @include mq (0 ,768px) {
            text-align: center;
        }
        
        
        
    }

    // makes the first letter of the text bigger and with style
    &__arttext::first-letter {
        font-size: calc(25px + 0.75vw);
        line-height: 20px;
        float: left;
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 5px;
        font-weight: bold;
        font-family: $secondary-font;
        color: $anim-color;
            
    }

    





}