
.c-about {
    margin:50px 0;

    &__wrapper {
        max-width:1100px;
        margin:0 auto;
        font-size:0;

    }

    &__artig {
        font-size:12px;
        display:inline-block;
        width:calc(50% - 10px);
        &:nth-of-type(1) {
        margin-right:20px;
      }
    }

    &__artimg {
        width: 100%;
    }

    &__arttitle {
        display:block;
        margin:20px 0;
        font-size:30px;
        color:#000;
        text-transform:uppercase;
        font-family: $primary-font;
    }

    &__arttext {
        color:#000;
        margin-bottom: 20px;
        font-size: calc(16px + 0.25vw);
        line-height: 1.2;
        
        
        
    }
    &__arttext::first-letter {
        font-size: calc(25px + 0.75vw);
        line-height: 20px;
        float: left;
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 5px;
        font-weight: bold;
        font-family: $secondary-font;
        color: $anim-color;
            
    }

    





}