<section class="c-about">
    <div class="c-about__wrapper">
      <article class="c-about__artig">
        <img src="images/fotografia-de-moda-730x506.jpg" class="c-about__artimg">
        <h1 class="c-about__arttitle">Naturally, Emily Ratajkowski’s Is White-Hot</h1>
        <p class="c-about__arttext">Last night, the model attended a screening of Lying and Stealing in New York City. On the red carpet, she wore her take on Greek mythology-inspired style, but made it look current, of course. Her clingy style was by Narciso Rodriguez and made in an ivory crepe-jersey from the label’s just-released Spring 2020 collection.</p>
        <p class="c-about__arttext">With the asymmetrical neckline and thick shoulder straps, it was a more modern interpretation of a red carpet mainstay. She accessorized with metallic heels and tasteful gold jewelry. In short? Aphrodite could never.</p>
      </article>
      <article class="c-about__artig">
        <img src="images/fotografia-de-moda-730x506.jpg" class="c-about__artimg">
        <h1 class="c-about__arttitle">Article Title</h1>
        <p class="c-about__arttext">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. </p>
        <p class="c-about__arttext">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. </p>
      </article>
    </div>
  </section>
