<section class="c-pay">
    <div class="c-pay__pay-info">
        <h1 class="c-pay__subtotal">Subtotal: 99.978€</h1>
        <h1 class ="c-pay__shipment-price">Shipping: 15€</h1>
        <h1 class ="c-pay__shipment-total">Total: 100€ </h1>
    </div>
    <form action="submit" class="c-pay__payform">
        <div class=" c-pay__payment-selection">
        <label for="topic" class="c-pay__payment-topic">Select Payment Method</label>
        <select id="topic" name="topic" class="c-pay__pay-options" required>
            <option value="1">MBWay</option>
            <option value="2">Credit Card</option>
            <option value="3">Payment on Arrival</option>
        </select>
        </div>
        <a class="c-pay__pay-button" type="submit">Order Now</a>
    </form>
    
</section>