    <section class="c-slider clearfix">
    <a href="#" class="c-slider__prev"><</a>
    <ul class="c-slider__slides">
        <li class="c-slider__slideitem">
            <img src="https://dummyimage.com/275x187/000/fff&text=sliderimg" class="c-slider__slideimg" >
        </li>
        <li class="c-slider__slideitem">
            <img src="https://dummyimage.com/275x187/000/fff&text=sliderimg" class="c-slider__slideimg">
        </li>
        <li class="c-slider__slideitem">
            <img src="https://dummyimage.com/275x187/000/fff&text=sliderimg" class="c-slider__slideimg">
        </li>
        <li class="c-slider__slideitem">
            <img src="https://dummyimage.com/275x187/000/fff&text=sliderimg" class="c-slider__slideimg">
        </li>
        <li class="c-slider__slideitem">
            <img src="https://dummyimage.com/275x187/000/fff&text=sliderimg" class="c-slider__slideimg">
        </li>
            <li class="c-slider__slideitem">
            <img src="https://dummyimage.com/275x187/000/fff&text=sliderimg" class="c-slider__slideimg">
        </li>
            <li class="c-slider__slideitem">
            <img src="https://dummyimage.com/275x187/000/fff&text=sliderimg" class="c-slider__slideimg">
        </li>
            <li class="c-slider__slideitem">
            <img src="https://dummyimage.com/275x187/000/fff&text=sliderimg" class="c-slider__slideimg">
        </li>
    </ul>
        <a href="#" class="c-slider__next">></a>
    </section>