<section class="c-shop clearfix">
    <!--ROW-->
    <div class="c-shop__row c-shop__head">
      <div class="c-shop__row-item ">Product</div>
      <div class="c-shop__row-item">Description</div>
      <div class="c-shop__row-item">Color</div>
      <div class="c-shop__row-item">Size</div>
      <div class="c-shop__row-item">QT</div>
      <div class="c-shop__row-item">Amount</div>
      <div class="c-shop__row-item">Delete</div>
    </div>
    <!--END ROW-->
    <!--ROW-->
    <div class="c-shop__row">
      <div class="c-shop__row-item"><img src="https://dummyimage.com/100x100/000/fff&text=shopitem" alt="item on cart" class=" c-shop__row-item-img"></div>
      <div class="c-shop__row-item">
        <p class="c-shop__product">Product Title</p>
        <small>Ref:1234</small>
      </div>
      <div class="c-shop__row-item">Red</div>
      <div class="c-shop__row-item">39</div>
      <div class="c-shop__row-item">
        <div class="c-shop__qty">
          <p class="c-shop__qty-number">10</p>
          <div class="c-shop__counter">
            <button class="c-shop__increment">+</button>
            <button class="c-shop__decrement">-</button>
          </div>
        </div>
      </div>
      <div class="c-shop__row-item">11</div>
      <div class="c-shop__row-item">11</div>
    </div>
    <!--END ROW-->
    <!--ROW-->
    <div class="c-shop__row">
      <div class="c-shop__row-item"><img src="images/galimg5.jpg" alt="item on cart" class=" c-shop__row-item-img"></div>
      <div class="c-shop__row-item">
        <p>Product Title</p>
        <small>Ref:1234</small>
      </div>
      <div class="c-shop__row-item">Orange</div>
      <div class="c-shop__row-item">43</div>
      <div class="c-shop__row-item">
          <div class="c-shop__qty">
              <p class="c-shop__qty-number">10</p>
              <div class="c-shop__counter">
                <button class="c-shop__increment">+</button>
                <button class="c-shop__decrement">-</button>
              </div>
          </div>
      </div>
      <div class="c-shop__row-item">11</div>
      <div class="c-shop__row-item">11</div>
    </div>
    <!--END ROW-->
    <!--ROW-->
    <div class="c-shop__row">
      <div class="c-shop__row-item"><img src="https://dummyimage.com/100x100/000/fff&text=shopitem" alt="item on cart" class=" c-shop__row-item-img"></div>
      <div class="c-shop__row-item">
        <p>Product Title</p>
        <small>Ref:1234</small>
      </div>
      <div class="c-shop__row-item">Blue</div>
      <div class="c-shop__row-item">41</div>
      <div class="c-shop__row-item">
          <div class="c-shop__qty">
              <p class="c-shop__qty-number">10</p>
              <div class="c-shop__counter">
                <button class="c-shop__increment">+</button>
                <button class="c-shop__decrement">-</button>
              </div>
          </div>
      </div>
      <div class="c-shop__row-item">11</div>
      <div class="c-shop__row-item">11</div>
    </div>
    <!--END ROW-->
    <!--ROW-->
    <div class="c-shop__row">
      <div class="c-shop__row-item"><img src="https://dummyimage.com/100x100/000/fff&text=shopitem" alt="item on cart" class=" c-shop__row-item-img"></div>
      <div class="c-shop__row-item">
        <p>Product Title</p>
        <small>Ref:1234</small>
      </div>
      <div class="c-shop__row-item">Green</div>
      <div class="c-shop__row-item">40</div>
      <div class="c-shop__row-item">
          <div class="c-shop__qty">
              <p class="c-shop__qty-number">10</p>
              <div class="c-shop__counter">
                <button class="c-shop__increment">+</button>
                <button class="c-shop__decrement">-</button>
              </div>
          </div>
      </div>
      <div class="c-shop__row-item">11</div>
      <div class="c-shop__row-item">11</div>
    </div>
    <!--END ROW-->
    <!--ROW-->
    <div class="c-shop__row">
      <div class="c-shop__row-item"><img src="https://dummyimage.com/100x100/000/fff&text=shopitem" alt="item on cart" class=" c-shop__row-item-img"></div>
      <div class="c-shop__row-item">
        <p>Product Title</p>
        <small>Ref:1234</small>
      </div>
      <div class="c-shop__row-item">Yellow</div>
      <div class="c-shop__row-item">36</div>
      <div class="c-shop__row-item">
          <div class="c-shop__qty">
              <p class="c-shop__qty-number">10</p>
              <div class="c-shop__counter">
                <button class="c-shop__increment">+</button>
                <button class="c-shop__decrement">-</button>
              </div>
          </div>
      </div>
      <div class="c-shop__row-item">11</div>
      <div class="c-shop__row-item">11</div>
    </div>
    <!--END ROW-->

    <div class="c-shop__totalcost">
      <p class="c-shop__cost-text">Subtotal:</p>
      
    </div>
    <a class="c-shop__cartbutton" type="submit">Order Now</a>
    <a href="category.html" class="c-shop__return">Continue Shopping</a>
  </section>
