<section class="c-category">
    <h1 class="c-category__categtitle">Coats</h1>
    <a href="#" class="c-category__categsubt">show more</a>

    <!--Shopping ROWS-->
    <div class=" c-category__tablerow">
        <div class=" c-category__tablecoll">
            <img src="images/coat1.jpg" class="c-category__img">
            <p class="c-category__description">Fantasic Coat</p>
            <p class="c-category__price">139.00€</p>
        </div>
        <div class=" c-category__tablecoll">
                <img src="images/coat3.jpg" class="c-category__img">
                <p class="c-category__description">Fantasic Coat</p>
                <p class="c-category__price">139.00€</p>
        </div>
        <div class=" c-category__tablecoll">
                <img src="images/coat4.jpeg" class="c-category__img">
                <p class="c-category__description">Fantasic Coat</p>
                <p class="c-category__price">139.00€</p>
        </div>
        <div class=" c-category__tablecoll">
            <img src="images/coat2.jfif" class="c-category__img">
            <p class="c-category__description">Fantasic Coat</p>
            <p class="c-category__price">139.00€</p>
        </div>
    </div>

    <h1 class="c-category__categtitle">Outerwear</h1>
    <a href="#" class="c-category__categsubt">show more</a>

    <!--Shopping ROWS-->
    <div class=" c-category__tablerow">
        
        <div class=" c-category__tablecoll">
            <img src="https://dummyimage.com/210x255/000/fff" class="c-category__img">
            <p class="c-category__description">Nice Socks!</p>
            <p class="c-category__price">139.00€</p>
        </div>
        <div class=" c-category__tablecoll">
                <img src="https://dummyimage.com/210x255/000/fff" class="c-category__img">
                <p class="c-category__description">Nice Socks!</p>
                <p class="c-category__price">139.00€</p>
        </div>
        <div class=" c-category__tablecoll">
                <img src="https://dummyimage.com/210x255/000/fff" class="c-category__img">
                <p class="c-category__description">Nice Socks!</p>
                <p class="c-category__price">139.00€</p>
        </div>
        <div class=" c-category__tablecoll">
            <img src="https://dummyimage.com/210x255/000/fff" class="c-category__img">
            <p class="c-category__description">Nice Socks!</p>
            <p class="c-category__price">139.00€</p>
        </div>


    </div>
    <h1 class="c-category__categtitle">T-shirt</h1>
    <a href="#" class="c-category__categsubt">show more</a>

    <!--Shopping ROWS-->
    <div class=" c-category__tablerow">
        
        <div class=" c-category__tablecoll">
            <img src="https://dummyimage.com/210x255/000/fff" class="c-category__img">
            <p class="c-category__description">Fantasic Coat</p>
            <p class="c-category__price">139.00€</p>
        </div>
        <div class=" c-category__tablecoll">
                <img src="https://dummyimage.com/210x255/000/fff" class="c-category__img">
                <p class="c-category__description">Fantasic Coat</p>
                <p class="c-category__price">139.00€</p>
        </div>
        <div class=" c-category__tablecoll">
                <img src="https://dummyimage.com/210x255/000/fff" class="c-category__img">
                <p class="c-category__description">Fantasic Coat</p>
                <p class="c-category__price">139.00€</p>
        </div>
        <div class=" c-category__tablecoll">
            <img src="https://dummyimage.com/210x255/000/fff" class="c-category__img">
            <p class="c-category__description">Fantasic Coat</p>
            <p class="c-category__price">139.00€</p>
        </div>
    </div>
    <h1 class="c-category__category-end">Check our Collection Moving</h1>
    

</section>