<footer class="c-footer clearfix">

    <div class="c-footer__footwrap clearfix">
        <ul class="c-footer__list">
            <li class="c-footer__item c-footer__title">Collection</li>
            <li class="c-footer__item">Men</li>
            <li class="c-footer__item">Woman</li>
            <li class="c-footer__item">Kid's</li>
            <li class="c-footer__item">Comming Soon</li>
        </ul>

        <ul class="c-footer__list">
            <li class="c-footer__item c-footer__title">Site</li>
            <li class="c-footer__item">Terms of Service</li>
            <li class="c-footer__item">Privacy Policy</li>
            <li class="c-footer__item">Copyright Policy</li>
            <li class="c-footer__item">Press Kit</li>
            <li class="c-footer__item">Support</li>
        </ul>

        <ul class="c-footer__list">
            <li class="c-footer__item c-footer__title">Shop</li>
            <li class="c-footer__item">About Us</li>
            <li class="c-footer__item">Shipping Methods</li>
            <li class="c-footer__item">Career</li>
            <li class="c-footer__item">Contact</li>		
        </ul>

        <ul class="c-footer__list">
            <li class="c-footer__item c-footer__title">Social</li>
            <li class="c-footer__item">Shoper is made with love in Warsaw,</li>
            <li class="c-footer__item">2014 All rights reserved. El Passion</li>
            <li class="c-footer__item-icon"><span class="c-footer__socialicon"><img src="icons\facebook.svg" class="c-footer__sicon" alt="fbicon"></span></li>
            <li class="c-footer__item-icon"><span class="c-footer__socialicon"><img src="icons\instagram.svg" class="c-footer__sicon" alt="inticon"></span></li>
            <li class="c-footer__item-icon"><span class="c-footer__socialicon"><img src="icons\twitter.svg" class="c-footer__sicon" alt="tweeticon"></span></li>			
        </ul>

    </div>
</footer>